<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smarthome</title>
    <script src="socket.io/socket.io.js"></script>

</head>

<body>
    <button id="data"></button>
    <button onclick="xitrum(this.id)" id="led1-on">Led1 On</button>
    <button onclick="xitrum(this.id)" id="led1-off">Led1 Off</button>

    <script>
        var socket = io("192.168.1.6:3000");
        function xitrum(id) {
            if(id == "led1-on"){
                socket.emit("vcl",{led1:"on"});
            }
            if(id == "led1-off"){
                socket.emit("vcl",{led1:"off"});
            }
            
        }
        socket.on("data",function(data){
            document.querySelector("#data").innerHTML = data.Xinchao+"&degC"; 
        });


    </script>
</body>

</html>