<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="style.css">
      <title>Smart home</title>
      <script src="socket.io/socket.io.js"></script>
      <script src="script.js"></script>
</head>

<body>

      <div id="control">
            
            <h3>SMART HOME</h3>
            <button class="mess" id="temperature">Nhiệt độ</button>
            <button class="mess" id="humidity">Độ ẩm</button>
            <br>
            <button class="mess" id="fire">Có cháy</button>
            <button class="mess active" id="fan">Quạt auto</button>
            <br>
            <button class="mess" id="thief">Có trộm</button>
            <button class="mess" id="rain">Không mưa</button>
            <br>
            <hr>
            <p>Hệ thống đèn phòng</p>
            <hr>

            ///
            <div class="container">
                  <button class="control" id="khach">Khách</button>
                  <button class="control" id="chung">Chung</button>
                  <button class="control" id="bep">Bếp</button>
                  <button class="control" id="ngu1">Ngủ 1</button>
                  <button class="control" id="ngu2">Ngủ 2</button>
                  <button class="control" id="san">Sân</button>
            </div>
            
            <hr>
            <p>Thiết bị và cảnh báo</p>
            <hr>
            <div class="sss">
                  <input type="number" id="sgio" min="0" max="23" class="www" placeholder="Giờ">
                  <input type="number " id="sphut" min="0 " max="59 " class="www" placeholder="Phút">-
                  <input type="number " id="egio" min="0 " max="23 " class="www" placeholder="Giờ">
                  <input type="number " id="ephut" min="0 " max="59 " class="www" placeholder="Phút">
                  <button id="set">Set</button>
            </div>
            <p id="timeSet">Thời gian: __:__</p>
            <div class="container ">
                  <button class="control " id="cap">Cảnh báo</button>
                  <button class="control " id="quat">Quạt</button>
                  <button class="control " id="lcd">LCD</button>
                  <button class="control " id="cua">Cửa</button>
            </div>
      </div>

</body>

</html>